import { FC } from 'react'

import { use{{ pascalCase name }}Styles } from './{{ pascalCase name }}.styles'

export type {{ pascalCase name }}Props = {
  label: string
}

export const {{ pascalCase name }}: FC<{{ pascalCase name }}Props> = ({ label }) => {
  const classes = use{{ pascalCase name }}Styles()

  return (
    <div className={classes.root}>
      <button>{label}</button>
    </div>
  )
}
